body {
    background-color: #f4f4f4; /* Default white theme */
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode {
    background-color: #000; /* Pure black for OLED dark mode */
    color: #f4f4f4;
}

.theme-toggle {
    position: absolute;
    top: 10px;
    left: 10px;
}

.theme-toggle button {
    font-family: 'Playfair Display', serif;
    padding: 8px 15px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ddd;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode .theme-toggle button {
    background-color: #555;
    color: #eee;
}

.chat-screen {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 600px; /* Adjust as needed */
    text-align: center;
}

body.dark-mode .chat-screen {
    background-color: #444;
    color: #eee;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.chat-screen h2 {
    margin-bottom: 20px;
}

.chat-box {
    background-color: #e9ecef;
    color: #495057;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
}

body.dark-mode .chat-box {
    background-color: #555;
    color: #f8f9fa;
}

.chat-screen p {
    margin-top: 15px;
}

.chat-screen a {
    color: #007bff;
    text-decoration: none;
}

body.dark-mode .chat-screen a {
    color: #add8e6;
}
